<div class="jumbotron">
  <h1>Hola Mundo</h1>
  <p>Estoy dentro de la clase Jumbotron</p>
  <p>Los usuarios son:<%= @users %></p>
</div>

<script>
  $( document ).ready(function(){
    $.backstretch("<%= asset_path "wallpaper.jpg" %>");
  })
</script>

