<div class="container">
<button id="button1" class="btn btn-info btn-md">Ver Im치gen</button>
  <h1>P치gina 2</h1>
  <p>Los usuarios son:<%= @users %></p>
  <p>Primera Im치gen</p>
  <%= image_tag "rails.png", class:"img-pag2" %>
  <p>Segunda Im치gen</p>
  <%= image_tag "ruby.png", class:"img-pag2" %>
</div>

<script>
  $( document ).ready(function(){
    $("#button1").click(function(){
      $.backstretch("<%= asset_path "wallpaper.jpg" %>");
    })
  })
</script>
